body {
font-family: "Roboto", sans-serif;
font-size: 14px;
line-height: 16px;
color: #0A143A;
}
.container {
  max-width: 1146px;
  margin: auto;
}
.header {
  padding: 30px 0px;
  margin-bottom: 12px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.menu-all {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.navbar-menu {
  margin-right: auto;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0px 22px;
  width: 267px;
  display: flex;
}
.menu-item:not(:last-child) {
  margin-right: 14px;
}
.menu-link, .button {
  text-decoration: none;
  color: inherit;
}
.button {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
.button-link {
  color: inherit;
}
.button-primary {
  background: #256EEB;
  border-radius: 5px;
  color: white;
}
.search-panel {
  height: 50px;
  background: #256EEB;
  border-radius: 5px;
  padding: 3px;
  display: flex;
}
.search-input {
  flex-grow: 1;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  padding: 0px 22px;
}
.search-button {
  background-color: #256EEB;
  border: none;
  color: white;
  padding: 16px 17px 15px 20px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
}
.page-content {
  display: grid; /* Отображение контента по колонкам*/
  grid-template-columns: 9fr 3fr; /* Делит на 2 колонки в соотношении 9 к 3 */
  grid-column-gap: 10px; /* Расстояние между колонками 30 зч */
}
.head-block {
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
}
.card-img {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover; /* обрезает изображение под размер */
}
.cards {
  display: flex;
  flex-wrap: wrap; /* переносит блоки если они не помещаются */
}
.card {
  padding-bottom: 20px;
  margin-right: 20px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title {
  max-width: 195px;
  font-size: 16px;
  line-height: 19px;
  color: #256EEB;
  margin-top: 12px;
  margin-bottom: 5px;
}
.card-link {
  text-decoration: none;
}
.like {
  border: none;
  background-color: white;
  cursor: pointer; /* При наведении меняет курсор */
  margin-left: 15px;
}
.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}
.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
  margin-top: 0;
  margin-bottom: 4px;
}
.side-bar h3 {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 23px;
}
.side-text {
  margin-bottom: 25px;
}
.side-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
  margin: 0;
  margin-bottom: 25px;
}
.footer-text {
  font-size: 14px;
  line-height: 16px;
  margin-top: 18px;
  margin-bottom: 5px;
  color: #C4C4C4;
}
.footer-list {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #C4C4C4;
}
.footer-polit {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}
.footer-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  margin-bottom: 5px;
}
.main-single {
  display: flex;
  align-items: flex-start;
}
.content {
  max-width: 460px;
  margin-right: 30px;
}
.swiper-container {
        width: 100%;

      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
      }

      .mySwiper2 {
        width: 100%;
        height: 357px;
        border-radius: 10px;
      }

      .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }

      .mySwiper .swiper-slide {
        width: 25%;
        
        height: 100%;
        opacity: 0.4;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 3px; /*проверить*/
      }
.content-text {
  font-size: 14px;
  line-height: 140%;
}
.single-price {
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
}
.author {
  min-width: 264px;
}
.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.author-photo {
  width: 50px;
  height: 50px;
  object-fit: cover; /*запрет растяжения картинки*/
  border-radius: 25px;
}
.author-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 4px;
}
.rating {
  margin-bottom: 5px;
}
.rating-counter {
  opacity: 0.5;
  margin-left: 10px;
}
.author-status {
  font-size: 12px;
  line-height: 14px;
}
.button-block {
  display: block;
  width: 100%;
  height: 54px;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 14px;
  border: none;
}
.button-message {
  background: #14B4BE;
  color: #fff;
}
.img-rek {
  margin: 7px 0px 19px 0px;
}
.menu-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: none; /*отключаем кнопку везде кроме мобильных*/
}
.close-menu {
  display: none;
  background-color: #fff;
  border: none;  
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .card {
    width: 45%;
  }
  .card-img {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 740px;
  }
  .card-img {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .page-content {
    grid-template-columns: 8fr 4fr; /* Делит на 2 колонки в соотношении 8 к 4 */
  }
  .card {
    width: 100%;
  }
  .menu-button {
    display: block;
  }
  .menu-all {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, opacity 0.2s;
    opacity: 0;
    transform: translateY(-100%); /* уберем меню в сторону */
  }
  .is-open {
    opacity: 1;
    transform: translateY(0%);
  }
  .navbar-menu {
    margin-left: auto;
    margin-bottom: 20px;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
.menu-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 10px;
}
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close-menu {
display: block;
position: absolute;
top: 30px;
right: 30px;
cursor: pointer;
}
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .page-content {
    grid-template-columns: 12fr ; /* Делит на 2 колонки в соотношении 8 к 4 */
  }
  .card {
    margin-right: 0;
  }
  .card-img {
    height: 250px;
  }
}